<% html_title "Redmine Planning Plugin - Basic Settings" -%>
<p>
  <label>Default Tracker </label>
  <%= select_tag 'settings[tracker]',
    options_for_select( Tracker.all.collect {|is| [is.name, is.id]}, @settings['tracker'].to_i) %>
</p>
<p>
  <label>Default Category Text for loaded tasks with no Issue Category (will be created against project)</label>
  <%= text_field_tag 'settings[category]', @settings['category'] %>
</p>
<p>
  <label>Max category scanning depth (the deepest summary task to be converted into a category)</label>
  <%= text_field_tag 'settings[depth]', @settings['depth'] %>
</p>
<p>
  <label>Attempt to fit schedule (i.e. basic resource leveling)</label>
  <%= check_box 'settings[level]', @settings['level'], {}, '1', '0' %>
</p>
